@page
@{
}
<div class="w-screen">
    <p class="m-[5px] flex-none align-middle p-[5px] m-[5px] mt-[0px] rounded-lg bg-slate-200"><a asp-area="" asp-controller="User" asp-action="UserList">List of all users</a></p>
    <p class="m-[5px] flex-none align-middle p-[5px] m-[5px] mt-[0px] rounded-lg bg-slate-200"><a asp-area="" asp-controller="Group" asp-action="Index">List of all groups</a></p>
</div>